
/* All pages */

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
    background: #f5f5f5; /*rgb(252,252,255)*/
}

a {
    /*text-decoration: none !important;*/
    color: rgb(51,122,182);
}

a:hover {
    color: rgb(35,82,124);
}

.container {
	padding-right: 5%;
	padding-left: 5%;
	margin-right: auto;
	margin-left: auto;
    margin-top: 10px;
    background: white;
}

.cell {
    padding-top: 0px;
    padding-right: auto;
    padding-left: 0px;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 0px;
    background: white;
}

ul {
 	list-style-type: none;
}

/* Main page */

.bio {
    font-size: 12px;
    /*padding: 0px;*/
}

.news {
    padding: 0px;
}

.highlights {
    /*padding: 0px;*/
}

.areas {

}

.medianews {

}

.img-thumbnail {
	margin-bottom: 25px;
    width:100%;
    text-align:center;
    border: 0px;
}

.title {
    overflow: hidden;
    position: relative;
    margin-left: 10px;
}

.title:after {
  display: inline-block;
  content: "";
  height: 1px;
  background: rgb(51,122,182);
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.hr-large {
	width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.hr-small {
	width: 30%;
	border: 0;
    height: 0;
    border-top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}


/* Content page */

.video {
	padding: 20px;
}

.image {
	width: 30%;
	/*margin-left: 20px;*/
}

.abstract {
	margin-top: 20px;
	white-space: pre-line;
}

.row {
    padding-top: 10px;
}

.news {
	font-size: 16px;
    /*padding: 0px;*/
}

.newsitem {
    font-size: 12px;
    padding-left: 0px;
    /*margin-left: 5px;*/
}

.researchitem {
    font-size: 12px;
    padding-left: 0px;
    /*margin-left: 5px;*/
}

.researchitemauthors {
    font-size: 10px;
    opacity: 0.75;
}

.linkitem {
    font-size: 12px;
    /*margin-left: 10px;*/
}